
<div class="nofis">
  <ul>
    <li *ngFor="let nofi of notifications">
      <div class="nofi {{nofi | notifierType}}" *ngIf="!nofi.buttons || !nofi.buttons.length">
        <label class="nofi-title">{{nofi.title}}</label>
        <p class="nofi-msg">{{nofi.message}}</p>
        <fa-icon class="nofi-x" [icon]="faTimesCircle" (click)="onCloseClick(nofi.id)"></fa-icon>
      </div>
    </li>
    <li *ngFor="let nofi of notifications">
      <div class="nofi {{nofi | notifierType}}" *ngIf="nofi.buttons && nofi.buttons.length">
        <label class="nofi-title">{{nofi.title}}</label>
        <p class="nofi-msg">{{nofi.message}}</p>
        <div class="nofi-buttons">
          <button *ngFor="let nofiBtn of nofi.buttons"
                  [class]="nofiBtn.classes || ''"
                  [title]="nofiBtn.altText || ''"
                  (click)="onNofiBtnClick(nofi, nofiBtn)">
            {{nofiBtn.text}}
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
