// nofi.scss


@mixin border-radius($value: 10px) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  -ms-border-radius: $value;
  border-radius: $value;
}

@mixin box-shadow($value: 10px 10px 20px 0px rgba(0,0,0,0.75)) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}


.nofis {
  position: fixed;
  right: 10px;
  top: 50px;
  width: 250px;
  z-index: 1000;

  > ul {

    > li {
      margin-bottom: 10px;
    }
  }

  .nofi {
    background-color: #030303;
    border: 1px solid #FFF;
    padding: 10px;
    position: relative;

    @include border-radius(12px);
    @include box-shadow(10px 10px 20px 0px rgba(0,0,0,0.75));

    &.success {
      background-color: #51a351;
    }

    &.info {
      background-color: #2f96b4;
    }

    &.warning {
      background-color: #f89406;
    }

    &.failure {
      background-color: #bd362f;
    }
  }

  .nofi-title {
    color: #FFF;
    font-weight: 600;
    font-size: 14px;
  }

  .nofi-msg {
    color: #FFF;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .nofi-x {
    color: #FFF;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1010;
  }

  .nofi-buttons {
    text-align: center;
    width: 100%;

    > button {
      margin-bottom: 3px;
      margin-right: 10px;
    }

    > button:last-of-type {
      margin-right: 0;
    }
  }
}

